* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  place-items: unset;
  display: unset;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
